.header {
    height: 76px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 998;
}

.header-icon {
    float: left;
    vertical-align: middle;
    padding: 10px;
    width: 32px;
}

.header-logo {
    cursor: pointer;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    font-size: 24px;
    font-weight: 700;
    padding-top: 24px;
    width: 200px;
}

.header-logo-icon {
    padding: 0px 5px;
    width: 36px;
    vertical-align: middle;
    margin-top: -0.3em;
}

.header-share {
    float: right;
    padding: 16px 16px;
}

.header-share-icon {
    float: left;
    vertical-align: middle;
    padding: 12px;
    width: 24px;
}

.icon-menu {
    padding: 24px;
    width: 24px;
}

.introduction {
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    padding: 0px 16px;
    color: #232323;
    opacity: 0.8;
}

.topic-outer {
    position: absolute;
    width: 750px;
    height: 800px;
    left: 50%;
    top: 50%;
    margin-left: -375px;
    margin-top: -320px;
}

.topic-container {
    width: 750px;
    height: 180px;
    margin: 0 auto;
}

.topic-box {
    margin: 0 auto;
}

.topic-img {
    width: 100%;
    max-width: 750px;
    border-radius: 4px;
    box-shadow: 0px 10px 40px #dad8d5;
    transition: ease 0.5s;
    margin-bottom: 10px;
    margin: 24px 0px;
}

.topic-img:hover {
    transform: translateY(-10px);
    transition: ease 0.5s;
    box-shadow: 0px 20px 80px #989898;
}

.topic-title {
    float: left;
    width: 220px;
    font-size: 26px;
    font-weight: 600;
}

.topic-desc {
    float: left;
    width: 520px;
    font-size: 18px;
    line-height: 29px;
    font-weight: 300;
}

.topic-bg {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -260px;
}

.topic-bg-text {
    text-align: center;
    opacity: 0.05;
    font-size: 180px;
    font-weight: 800;
    z-index: -2;
    letter-spacing: 0px;
}

.service-box {
    float: left;
    width: 154px;
    height: 154px;
    padding: 14px;
    margin: 12px -2px 12px 18px;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px #f1f1f3;
    border-radius: 8px;
    text-align: center;
    transition: ease 0.5s;
    cursor: pointer;
}

.service-box:hover {
    color: white;
    box-shadow: 0px 10px 40px #e9e9ea;
    transition: ease 0.5s;
    transform: translateY(-10px)
}


.icon-logo {
    width: auto;
    height: 34px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.service-name {
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: 300;
    color: #363B5D;
}

.service-desc {
    font-size: 16px;
    font-weight: 300;
    color: #363B5D;
    opacity: 0.6;
}

.bg-illust-con {
    width: 750px;
    margin: 0 auto;

}

.bg-illust {
    opacity: 1;
    z-index: -1;
    margin: 0 auto;
    float: right;
}



.body-border {
    position: fixed;
    z-index: 999;
    background-color: black;
}


/* Mobile */

@media screen and (max-width: 840px) {

    .introduction {
        font-size: 16px;
        line-height: 28px;
        font-weight: 500;
        color: #232323;
    }

    .topic-box {
        margin: 0 auto;
        padding: 0px 20px;
    }
    .topic-outer {
        position: relative;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        margin-left: 0px;
        margin-top: 20px;
    }

    .topic-container {
        width: 100%;
    }

    .topic-title {
        text-align: center;
        width: 100%;
        padding-bottom: 16px;
        font-size: 24px;
    }

    .topic-desc {
        text-align: center;
        font-size: 16px;
        line-height: 26px;
        width: 100%;
        opacity: 0.8;
    }


    .topic-bg {
        position: absolute;
        width: 100%;
        top: 50%;
        margin-top: -120px;
    }

    .topic-bg-text {
        text-align: center;
        opacity: 0.05;
        font-size: 70px;
        font-weight: 800;
        z-index: -2;
        letter-spacing: 0px;
    }


    .service-box {
        width: 43%;
        height: 150px;
        margin: 1% 1% 2% 4%;
        padding: 0px;
    }

    .bg-illust {
        z-index: -1;
        position: relative;
        right: 0px;
        bottom: 0px;
        width: 100%;
    }


    .icon-menu {
        padding: 18px;
        width: 20px;

    }

    .header {
        height: 56px;
        width: 100%;
        position: fixed;
        top: 0;
        background-color: white;
        z-index: 998;
    }


    .header-logo {

        margin-left: -65px;
        font-size: 18px;
        font-weight: 700;
        padding-top: 18px;
        width: 130px;
    }


    .header-logo-icon {
        padding: 0px 5px;
        width: 24px;
        vertical-align: middle;
        margin-top: -0.3em;
    }


    .header-share {
        display: none;
        float: right;
        padding: 12px;
    }

    .header-share-icon {
        float: left;
        vertical-align: middle;
        padding: 8px;
        width: 16px;
    }
    .bg-illust-con {
        width: 100%;

    }
    
    .body-border {
    display:none;
}

}
