@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

/* layout */

.active {
    background: #2b90f5;
    color: yellow;
}


.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(preloader.svg) center no-repeat #fff;
}

body {
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-break: keep-all;
    background-color: #ffffff;
}


.logo {
    border-bottom: 1px solid #E6E6E6;
    font-size: 20px;
    font-weight: 600;
    color: #232323;
    letter-spacing: 0;
    text-align: left;
    padding: 10px 0px 30px 0px;
}

.nav {
    position: fixed;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid #E6E6E6;
    z-index: 999;
    text-align: center;
}

.footer {
    width: 200px;
    border-top: 1px solid #E6E6E6;
    opacity: 1;
    position: fixed;
    bottom: 20px;
    text-align: left;

}

.footer_container {
    opacity: 0.4;
    padding: 12px 0px 0px 20px;
    font-size: 14px;
}

.footer_social_icon {
    width: 36px;
    margin: 12px 0px;
    margin-left: -8px;
}

.mobile-menu-sub {
    display: none;
}

.menu-sub {
    position: fixed;
    left: 200px;
    padding: 80px 40px 0px 40px;
    top: 0;
    height: 100%;
}

.menu-sub-dropdown {
    display: none;
}


.menu-sub ul {
    list-style: none;
    margin-left: -40px;
    /*overflow-y:scroll;*/
}

.menu-sub li {
    padding: 16px 20px 10px 0px;
}

.menu-sub li a {
    color: #232323;
    font-weight: 500;
    font-size: 18px;
}



.container {
    float: left;
    padding-top: 50px;
    padding-left: 240px;
    padding-bottom: 50px;
}

.con-title {
    float: left;
    width: 100%;
    padding: 30px 20px 10px 20px;
}

.wrapper {
    float: left;
    width: 100%;
}

.col {
    float: left;
    width: 300px;
    height: 52px;
    padding: 12px 24px 24px 24px;
    transition: ease 0.5s;
    margin: 8px 8px 8px 16px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #E6E6E6;
}

.col:hover {
    color: white;
    box-shadow: 0px 10px 30px #cecece;
    transition: ease 0.5s;
    transform: translateY(-10px)
}

/* font styles */

hr {
    border: 0.5px solid #e6e6e6;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #232323;
}

li a {

    text-decoration: none;
}

.introduction {
    font-size: 26px;
    line-height: 34px;
    font-weight: 400;
    padding: 16px 0px 0px 16px;
    color: #232323;
}

.title {
    font-size: 20px;
    color: #232323;
    letter-spacing: 0;
    font-weight: 400;
}

.sub-title {
    font-size: 28px;
    color: #232323;
    letter-spacing: 0;
    font-weight: 100;
}

h1 {
    font-size: 18px;
    color: #232323;
    letter-spacing: 0;
    margin: 6px 0px 6px 0px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    height: 1.4em;
    line-height: 1.4em;
}


h2 {
    opacity: 0.5;
    font-size: 16px;
    color: #232323;
    letter-spacing: 0;
    margin: 0;
    font-weight: 200;
}

.nav-btn {
    cursor: pointer;
    background: #ffffff;
    background: rgba(0, 0, 0, 0.00);
    border-bottom: 1px solid #E6E6E6;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 24px;
    color: #232323;
    letter-spacing: 0;
    text-align: left;
    padding: 24px;
}


.nav-btn:hover {
    background-color: #232323;
    color: white !important;
}

.nav-btn:focus {
    background-color: white;
    color: white !important;
}

.nav-btn-sub {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
}


.mobile-menu {
    display: none;
}


/* icon */

.logo-title {
    width: 30px;
    font-size: 28px;
    padding-top: 24px;
    padding-left: 24px;
}

.outlink {
    border-bottom: 1px solid#232323;
}

.share {
    position: fixed;
    bottom: 0;
    padding: 40px;
}

.icon-tag {
    width: 20px;
    height: auto;
    padding-right: 10px;
}

.icon-sub-title {
    padding: 4px 8px 0px 8px;
    float: left;
    width: 26px;
}

.target {
    padding-top: 79px;
    margin-top: -80px;
    width: 1px;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    display: block;
}

.archive-title {

    float: left;
    width: 90%;

    padding: 40px 20px 20px 20px;

}

.archive-list-title {
    float: none;
    width: auto;
    font-size: 20px;
    color: #232323;
    letter-spacing: 0;
    font-weight: 400;
}

.article-container {
    margin-left: 440px;
    padding: 40px;
    max-width: 750px;
}

.article-img {
    width: 100%;
    max-width: 750px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.article-title {
    font-size: 30px;
    font-weight: 600;
    line-height: 48px;
    margin-top: 56px;
    margin-bottom: 8px;
    color: #232323;
}

.article-subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    color: #bbbbbb;

}

.article-h1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 24px;
    color: #4e4e4e;
}

.article-a {
    color: #357DFF;
}




.menubar {
    border: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
    font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.menubar ul {
    background: rgb(109, 109, 109);
    height: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menubar li {
    float: left;
    padding: 0px;
}

.menubar li a {
    background: rgb(109, 109, 109);
    color: #cccccc;
    display: block;
    font-weight: normal;
    line-height: 50px;
    margin: 0px;
    padding: 0px 25px;
    text-align: center;
    text-decoration: none;
}

.menubar li a:hover,
.menubar ul li:hover a {
    background: rgb(71, 71, 71);
    color: #FFFFFF;
    text-decoration: none;
}

.menubar li ul {
    background: rgb(109, 109, 109);
    display: none;
    /* 평상시에는 드랍메뉴가 안보이게 하기 */
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: absolute;
    width: 200px;
    z-index: 200;
    /*top:1em;
/*left:0;*/
}

.menubar li:hover ul {
    display: block;
    /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.menubar li li {
    background: rgb(109, 109, 109);
    display: block;
    float: none;
    margin: 0px;
    padding: 0px;
    width: 200px;
}

.menubar li:hover li a {
    background: none;
}

.menubar li ul a {
    display: block;
    height: 50px;
    font-size: 12px;
    font-style: normal;
    margin: 0px;
    padding: 0px 10px 0px 15px;
    text-align: left;
}

.menubar li ul a:hover,
.menubar li ul li:hover a {
    background: rgb(71, 71, 71);
    border: 0px;
    color: #ffffff;
    text-decoration: none;
}

.menubar p {
    clear: left;
}



/* Mobile */

@media screen and (max-width: 840px) {
    .archive-title {

        float: none;
        width: auto;

        padding: 20px 20px 20px 20px;
    }
    .article-container {
        max-width: 750px;
        padding: 16px;
        padding-top: 100px;
        margin: 0;
    }
    .nav {
        position: fixed;
        left: 0;
        width: 100%;
        height: 56px;
        text-align: left;
        border-bottom: 1px solid #e6e6e6;
    }

    .wrapper {
        padding: 0px;
    }
    .container {
        float: none;
        padding: 60px 0px 0px 0px;
    }
    .con-title {
        width: 90%;
        font-size: 18px;
        padding: 16px 16px 16px 16px;
    }

    .col {
        float: none;
        width: auto;
    }

    .logo {
        float: left;
        padding: 0px;
        border-bottom: none;
    }

    .logo-icon {
        display: block;
        width: 36px;
        padding: 10px 0px 0px 16px;
    }
    .logo-title {
        width: 100px;
        padding-top: 18px;
        font-size: 20px;
        font-weight: 700;
        padding-left: 16px;
    }

    .nav-btn {
        display: none;
    }

    .menu-sub {
        display: none;
    }

    /* Mobile Navi */
    .mobile-menu {
        display: inline;
        float: right;
        padding: 0;
        height: 70px;
        line-height: 50px;
        /* disable text selection by clicking */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .mobile-menu a.dropdown-link {
        display: block;
        height: 48px;
        padding: 0 20px;
        color: #232323;
        font-size: 20px;
        cursor: pointer;
        text-align: right;
        box-shadow: 1px solid #e6e6e6;

    }

    .mobile-menu a.dropdown-link:hover {
        text-decoration: none;
    }
    .mobile-menu a.dropdown-link i {
        float: right;
        position: relative;
        top: 15px;
    }

    .mobile-dropdown {
        display: none;
        list-style-type: none;
        background: white;
        padding: 0;
        z-index: 100;
        margin: 0;
        text-align: center;
        box-shadow: 0px 1px 2px #dedfe6;
    }

    .mobile-dropdown li {
        padding: 0;
        height: auto;
    }

    .mobile-dropdown li a {
        padding: 0;
        color: #232323;
        display: block;
        padding: 20px 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        text-decoration: none;
    }

    .mobile-dropdown li a:hover {
        text-decoration: none;
    }

    /* Mobile Navi Sub*/
    .mobile-menu-sub {
        position: fixed;
        display: inline;
        width: 100%;
        margin-top: 56px;
        height: 70px;
        background-color: #ffffff;
        /* disable text selection by clicking */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-bottom: 1px solid #e9eaee;
        left: 0px;
        padding: 0px;
        top: 0;

    }


    .mobile-menu-sub-dropdown {
        display: block;
        margin: 12px 16px 12px 16px;
        padding: 14px 0px 0px 16px;
        margin-right: 20px;
        color: #232323;
        border: 0.5px solid #d4d4d4;
        border-radius: 4px;
        background-color: #ffffff;
        height: 32px;
    }

    .mobile-menu-sub a.dropdown-link {
        display: block;
        height: 48px;
        padding: 0 20px;
        color: #232323;
        font-size: 20px;
        cursor: pointer;
        text-align: right;

    }

    .mobile-menu-sub a.dropdown-link:hover {
        text-decoration: none;
    }
    .mobile-menu-sub a.dropdown-link i {
        float: right;
        position: relative;
        top: 15px;
    }

    .mobile-dropdown-sub {
        display: none;
        list-style-type: none;
        background: white;
        padding: 0;
        z-index: 100;
        margin: 0;
        text-align: left;
        box-shadow: 0px 1px 2px #dedfe6;
        height: 300px;
        overflow-y: scroll;
    }


    .mobile-menu-sub ul {
        list-style: none;
        margin-left: 0px;
        color: #232323;
        overflow-y: scroll;
    }

    .mobile-dropdown-sub li {
        padding: 0;
        height: auto;
    }

    .mobile-dropdown-sub li a {
        padding: 0;
        color: #232323;
        display: block;
        padding: 8px 32px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
    }

    .mobile-dropdown-sub li a:hover {
        text-decoration: none;
    }

    .article-title {
        margin-top: 50px;
        font-size: 24px;
    }

    .article-subtitle {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 20px;
        color: #9a9a9a;
    }


    .article-h1 {
        font-size: 18px;
        font-weight: 400;
        line-height: 29px;
        margin-bottom: 24px;
        color: #4e4e4e;
    }


    .footer {
        display: none;
    }

    .introduction {
            font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    padding: 24px 0px 10px 16px;
    color: #232323;
    }
    .col {

        margin: 8px 16px 8px 16px;
    }

}
