@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
/* Mobile Navi */

.mobile-menu {
    display: inline;
    float: left;
    padding: 0;
    height: 76px;
    line-height: 50px;
    /* disable text selection by clicking */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mobile-menu a.dropdown-link {
    display: block;
    height: 60px;
    padding: 0px;
    color: #232323;
    font-size: 20px;
    cursor: url(../img/Cursor.png), auto;
    text-align: left;
    box-shadow: 1px solid #e6e6e6;
}

.mobile-menu a.dropdown-link:hover {
    text-decoration: none;
}

.mobile-menu a.dropdown-link i {
    float: left;
    position: relative;
    top: 15px;
}

.mobile-dropdown {
    display: none;
    list-style-type: none;
    background: white;
    padding: 0;
    z-index: 999;
    margin: 0;
    text-align: left;
    width: 230px;
    padding: 0px;
    margin-left: 16px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
}

.mobile-dropdown li {
    padding: 12px 0px 12px 16px;
    height: auto;
}

.mobile-dropdown li a {
    padding: 0;
    color: #232323;
    display: block;
    padding: 20px 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
}

.mobile-dropdown li a:hover {
    text-decoration: none;
}

/* Mobile Navi Sub*/

.mobile-menu-sub {
    position: fixed;
    display: none;
    width: 100%;
    margin-top: 56px;
    height: 74px;
    background-color: #ffffff;
    /* disable text selection by clicking */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*border-bottom: 1px solid #ececec;*/
    left: 0px;
    padding: 0px;
    top: 0;
    z-index: 998;
}


.mobile-menu-sub-dropdown {
    display: block;
    margin: 12px 16px 12px 16px;
    padding: 12px 0px 0px 14px;
    color: #a2a2a2;
    border-radius: 4px;
    background-color: #ffffff;
    height: 32px;
    box-shadow: 0px 1px 3px #d4d4d4;
}

.mobile-menu-sub a.dropdown-link {
    display: block;
    height: 56px;
    padding: 0 20px;
    color: #232323;
    font-size: 20px;
    cursor: url(../img/Cursor.png), auto;
    text-align: right;

}

.mobile-menu-sub a.dropdown-link:hover {
    text-decoration: none;
}

.mobile-menu-sub a.dropdown-link i {
    float: right;
    position: relative;
    top: 15px;
}

.mobile-dropdown-sub {
    display: none;
    list-style-type: none;
    background: #ffffff;
    padding: 0;
    z-index: 100;
    margin: 0;
    text-align: left;
    border: 1px solid #ececec;
    /*border-left: 1px solid #ececec;*/
    /*border-right: 1px solid #ececec;*/
    height: 300px;
    overflow-y: scroll;
}


.mobile-menu-sub ul {
    list-style: none;
    color: #232323;
    overflow-y: scroll;
    margin: 10px 0px 0px -14px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}

.mobile-dropdown-sub li {
    padding-left: 28px;
    height: auto;
    border-bottom: 1px solid #e9eaee;
}

.mobile-dropdown-sub li a {
    color: #505050;
    display: block;
    padding: 8px 16px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.mobile-dropdown-sub li a:hover {
    text-decoration: none;
}


/* layout */

.active {
    color: #232323 !important;
    font-weight: 600 !important;
    opacity: 1 !important;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 1;
    background-color: white;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -30px 0px 0px -30px;
    width: 60px;
    height: 60px;
    z-index: 999;
    -webkit-animation: rotation 1.5s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

body {
    cursor:pointer;
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
}

ul {
    padding-left: 24px;
}

li {
    padding-bottom:16px;
    
}


.logo {
    font-size: 20px;
    font-weight: 600;
    color: #232323;
    letter-spacing: 0;
    text-align: left;
    padding: 10px 0px 30px 0px;
}

.nav {
    position: fixed;
    left: 0;
    height: 70px;
    background-color: #ffffff;
    z-index: 998;
    text-align: center;
}

.nav-up {
    top: -60px !important;
}

.nav-icon {
    width: 20px;
    padding-right: 12px;
    vertical-align: middle;
    margin-bottom: 3px;
}

.footer {
    width: 200px;
    opacity: 1;
    position: fixed;
    bottom: 16px;
    text-align: left;

}

.footer_container {
    opacity: 0.6;
    padding: 12px 0px 0px 20px;
    font-size: 16px;
    line-height: 32px;
}

.footer_social_icon {
    width: 36px;
    margin: 12px 0px;
    margin-left: -8px;
}

.pagination {
    cursor: url(../img/Cursor.png), auto;
    display: inline-block;
    font-size: 20px;
    width: 50%;
    padding: 2rem 0rem;
    color: #10a973;
}

.pagination-left {
    float: left;
    cursor: url(../img/Cursor.png), auto;
    display: inline-block;
    font-size: 20px;
    width: 50%;
    padding: 2rem 0rem;
    color: #28ab8f;
    transition: ease 0.5s;
}

.pagination-left:hover {
    transform: translateX(4px)
}

.pagination-icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
}

.pagination-text {
    display: inline-block;
    vertical-align: middle;
    margin: 4px 4px 2px 4px;
}

.pagination-right {
    float: right;
    text-align: right;
    cursor: url(../img/Cursor.png), auto;
    display: inline-block;
    font-size: 20px;
    width: 50%;
    padding: 2rem 0rem;
    color: #28ab8f;
    transition: ease 0.5s;
}

.pagination-right:hover {
    transform: translateX(-4px)
}

.pagination-right-icon {
    float: right;
    width: 20px;
    margin-left: 8px;
}



.mobile-menu-sub {}

.menu-sub {
    position: fixed;
    padding: 100px 40px 0px 26px;
    top: 0;
    height: 100%;
}

.menu-sub-dropdown {
    padding: 20px 0px 10px 0px;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    color: #232323;
}


.menu-sub ul {
    list-style: none;
    margin: 0px 0px 0px -40px;
    /*overflow-y:scroll;*/
}

.menu-sub li {
    padding: 12px 16px;
    opacity: 0.5;
    transition: ease 0.3s;
}

.menu-sub li:hover {
    opacity: 1;
    transition: ease 0.3s;
}

.menu-sub li a {
    font-size: 17px;
}




.container {
    margin: 0 auto;
    width: 960px;
    margin-top: 80px;
}

.con-title {
    float: left;
    width: 100%;
    padding: 30px 0px;
}

.wrapper {
    float: left;
    width: 100%;
    max-width: 1600px;
}

.col {
    float: left;
    width: 330px;
    height: 52px;
    padding: 12px 24px 24px 24px;
    transition: ease 0.5s;
    margin: 8px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 20px #f1f1f3;
}

.col:hover {
    color: white;
    box-shadow: 0px 10px 30px #e9e9ea;
    transition: ease 0.5s;
    transform: translateY(-10px)
}

/* font styles */

hr {
    border: 0.5px solid #cecece;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    cursor:pointer;
    text-decoration: none;
    color: #232323;
    transition: ease 0.5s;
}

a :hover {
    opacity: 0.4;
    transition: ease 0.5s;
}

li a {

    text-decoration: none;
}



.title {
    font-size: 20px;
    color: #232323;
    letter-spacing: 0;
    font-weight: 600;
}

.sub-title {
    font-size: 28px;
    color: #232323;
    letter-spacing: 0;
    font-weight: 100;
}

h1 {
    font-size: 18px;
    color: #232323;
    letter-spacing: 0;
    margin: 6px 0px 6px 0px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    height: 1.4em;
    line-height: 1.4em;
}


h2 {
    opacity: 0.5;
    font-size: 16px;
    color: #232323;
    letter-spacing: 0;
    margin: 0;
    font-weight: 200;
}

.btn {
    display: inline-block;
    cursor: url(../img/Cursor.png), auto;
    padding: 8px 16px;
    background-color: #28ab8f;
    text-align: center;
    color: white;
    border-radius: 4px;
    transition: 0.2s ease;
}

.btn:hover {
    background-color: #009273;
    transition: 0.2s ease;
}

.nav-btn {
    cursor: url(../img/Cursor.png), auto;
    background: #ffffff;
    background: rgba(0, 0, 0, 0.00);
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    color: #232323;
    letter-spacing: 0;
    text-align: left;
    padding: 24px;
    transition: ease 0.5s;
}





.nav-btn-sub {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0;
    transition: transition: ease 0.2s;
}


.mobile-menu {}


/* icon */

.logo-title {
    width: 30px;
    font-size: 28px;
    margin-top: 24px;
    margin-left: 24px;
}

.outlink {
    border-bottom: 1px solid#232323;
}

.share {
    position: fixed;
    bottom: 0;
    padding: 40px;
}

.icon-tag {
    width: 20px;
    height: auto;
    padding-right: 10px;
}

.icon-sub-title {
    padding: 4px 8px 0px 8px;
    float: left;
    width: 26px;
}

.target {
    padding-top: 79px;
    margin-top: -80px;
    width: 1px;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    display: block;
}

.archive-title {
    float: left;
    width: 90%;
    padding: 40px 20px 20px 20px;
}

.archive-list-title {
    float: none;
    width: auto;
    font-size: 20px;
    color: #232323;
    letter-spacing: 0;
    font-weight: 400;
}

.article-outer {
    width: 1200px;
    padding: 70px 0px 120px 0px;
    margin: 0 auto;
}

.article-container {
    margin: 0 auto;
    padding: 0px 40px 40px 40px;
    height: 100%;
    max-width: 750px;
}

.article-img {
    height: auto;
    width: 100%;
    max-width: 750px;
    margin: 10px 0px;
}

.article-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 50px;
    margin-bottom: 8px;
    color: #232323;
}

.article-subtitle {
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 20px;
    color: #232323;

}

.article-h1 {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 18px;
    color: #4e4e4e;
}

.article-a {
    color: #357DFF;
}




.menubar {
    border: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
    font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.menubar ul {
    background: rgb(109, 109, 109);
    height: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menubar li {
    float: left;
    padding: 0px;
}

.menubar li a {
    background: rgb(109, 109, 109);
    color: #cccccc;
    display: block;
    font-weight: normal;
    line-height: 50px;
    margin: 0px;
    padding: 0px 25px;
    text-align: center;
    text-decoration: none;
}

.menubar li a:hover,
.menubar ul li:hover a {
    background: rgb(71, 71, 71);
    color: #FFFFFF;
    text-decoration: none;
}

.menubar li ul {
    background: rgb(109, 109, 109);
    display: none;
    /* 평상시에는 드랍메뉴가 안보이게 하기 */
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: absolute;
    width: 200px;
    z-index: 200;
    /*top:1em;
/*left:0;*/
}

.menubar li:hover ul {
    display: block;
    /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.menubar li li {
    background: rgb(109, 109, 109);
    display: block;
    float: none;
    margin: 0px;
    padding: 0px;
    width: 200px;
}

.menubar li:hover li a {
    background: none;
}

.menubar li ul a {
    display: block;
    height: 50px;
    font-size: 12px;
    font-style: normal;
    margin: 0px;
    padding: 0px 10px 0px 15px;
    text-align: left;
}

.menubar li ul a:hover,
.menubar li ul li:hover a {
    background: rgb(71, 71, 71);
    border: 0px;
    color: #ffffff;
    text-decoration: none;
}

.menubar p {
    clear: left;
}

.sidebar-con {

    float: left;
    width: 750px;
    padding: 20px 0px;
}



.sidebar-wrapper {
    float: left;
    width: 100%;
    padding: 16px 0px;
    font-size: 18px;
}

.sidebar-title {
    font-size: 20px;
    font-weight: bold;
    padding: 8px 0px 16px 0px;
}

.sidebar-desc {
    font-size: 18px;
}

.sidebar-icon {
    padding-right: 6px;
}

.sidebar-outlink {
    cursor: url(../img/Cursor.png), auto;
    width: 100%;
    margin: 8px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    opacity: 1;
    transition: ease 0.5s;
    color: #28ab8f;
}

.sidebar-outlink:hover {
    opacity: 0.4;
    transition: ease 0.5s;
}

/* Mobile */

@media screen and (max-width: 840px) {




    .archive-title {

        float: none;
        width: auto;

        padding: 20px 20px 20px 20px;
    }
    .article-container {
        max-width: none;
        padding: 20px 16px 0px 16px;
        margin: 0;
    }
    .nav {
        position: fixed;
        left: 0;
        height: 60px;
        text-align: left;
        box-shadow: none;
    }




    .wrapper {
        padding: 0px;
    }
    .container {
        float: none;
        width: 100%;
    }
    .con-title {
        width: 90%;
        font-size: 18px;
        padding: 16px 16px 16px 16px;
    }

    .col {
        float: none;
        width: auto;
    }

    .logo {
        float: left;
        padding: 0px;
        border-bottom: none;
    }

    .logo-icon {
        display: block;
        width: 36px;
        padding: 10px 0px 0px 16px;
    }
    .logo-title {
        width: 100px;
        font-size: 18px;
        font-weight: 700;
        margin-top: 19px;
        margin-left: 16px;
    }

    .mobile-dropdown li {
        padding: 8px 16px;
        height: auto;
    }


    .menu-sub {
        display: none;
    }


    /* Mobile Navi Sub*/
    .mobile-menu-sub {
        position: fixed;
        display: inline;
        width: 100%;
        margin-top: 56px;
        height: 74px;
        background-color: #ffffff;
        /* disable text selection by clicking */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        /*border-bottom: 1px solid #ececec;*/
        left: 0px;
        padding: 0px;
        top: 0;
        z-index: 997;
    }


    .mobile-menu-sub-dropdown {
        display: block;
        margin: 16px 16px 12px 16px;
        padding: 12px 0px 0px 14px;
        color: #a2a2a2;
        border-radius: 4px;
        background-color: #ffffff;
        height: 32px;
        box-shadow: 0px 1px 3px #d4d4d4;
    }

    .mobile-menu-sub a.dropdown-link {
        display: block;
        height: 56px;
        padding: 0 20px;
        color: #232323;
        font-size: 20px;
        cursor: url(../img/Cursor.png), auto;
        text-align: right;

    }

    .mobile-menu-sub a.dropdown-link:hover {
        text-decoration: none;
    }
    .mobile-menu-sub a.dropdown-link i {
        float: right;
        position: relative;
        top: 15px;
    }

    .mobile-dropdown-sub {
        display: none;
        list-style-type: none;
        background: #ffffff;
        padding: 0;
        z-index: 100;
        margin: 0;
        text-align: left;
        border: 1px solid #ececec;
        /*border-left: 1px solid #ececec;*/
        /*border-right: 1px solid #ececec;*/
        height: 300px;
        overflow-y: scroll;
    }


    .mobile-menu-sub ul {
        list-style: none;
        color: #232323;
        overflow-y: scroll;
        margin: 10px 0px 0px -14px;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    }

    .mobile-dropdown-sub li {
        padding-left: 28px;
        height: auto;
        border-bottom: 1px solid #e9eaee;
    }

    .mobile-dropdown-sub li a {
        color: #505050;
        display: block;
        padding: 8px 16px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
    }

    .mobile-dropdown-sub li a:hover {
        text-decoration: none;
    }



    .article-outer {
        width: 100%;
        margin: 0px;
    }
    .article-title {
        margin-top: 50px;
        font-size: 22px;
    }

    .article-subtitle {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 20px;
        color: #232323;
    }


    .article-h1 {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 24px;
        color: #4e4e4e;
    }


    .footer {
        display: none;
    }


    .col {

        margin: 8px 16px 8px 16px;
    }

    .sidebar-con {
        width: 100%;
    }


}
